@import "../../assets/styles/variables.scss";

#footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $blue_color;
    background-color: $light_blue_color;

    .footer_title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;


        .footer_title_text {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 5px;
            padding: 10px;
        }
    }

    .footer_animation {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .footer_contacts {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .footer_socials {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            column-gap: 30px;
            list-style: none;
            height: 100%;

            :hover {
                fill: $light_cyan_color;
            }
        }
    }
}

/* АДАПТАЦИЯ К ШИРИНЕ ЭКРАНА ПЛАНШЕТА */
@media(max-width: $tablet_width) {
    #footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        .footer_title {
            grid-area: 1 / 1 / 2 / 2;
        }

        .footer_animation {
            grid-area: 1 / 2 / 3 / 3;
        }

        .footer_contacts {
            grid-area: 2 / 1 / 3 / 2;
        }
    }
}