@import "../../assets/styles/variables.scss";

#header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
    align-items: center;
    border-bottom: 1px solid $blue_color;
    background-color: $light_blue_color;


    .header_socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 30px;
        list-style: none;
        height: 100%;
    }

    .header_technologies {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 30px;
        list-style: none;
        height: 100%;
    }

    .header_contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
        }
    }

}