@import "../../assets/styles/variables.scss";

.modal_wrapper {
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .modal_window {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        height: fit-content;
        background: white;
        padding: 20px 25px;
        box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.24);
        row-gap: 20px;

        .modal_title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .btn_close {
                border: none;
                background-color: $white_color;
                cursor: pointer;
            }
        }
    }
}

.modal_window {
    max-width: 300px;
}

/* АДАПТАЦИЯ К ШИРИНЕ ЭКРАНА ТЕЛЕФОНА */
@media(max-width: $mobile_width) {
    .modal_window {
        max-width: 350px !important;
    }
}