@import "./variables.scss";
@import "@fontsource/open-sans";

/*ГЛОБAЛЬНЫЕ СТИЛИ*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

ul,
li,
p,
a {
    margin: 0;
    padding: 0;
    color: $blue_color;
}

h2 {
    color: $blue_color;

    span {
        color: $white_color;
    }
}

/*СТИЛИ СКРОЛЛБАРА*/

::-webkit-scrollbar {
    width: 0.75em;
    height: 0.75em;
}

::-webkit-scrollbar-track {
    background: $light_blue_color;
}

::-webkit-scrollbar-thumb {
    background: $blue_color;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: $dark_blue_color;
}

/*Стили сайта*/
#root {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: 60px auto 200px;
    min-height: 100vh;
    max-width: 100vw;
    gap: 20px;
}

h3 {
    background-image: linear-gradient(90deg,
            #f79533 0%,
            #f37055 15%,
            #ef4e7b 30%,
            #a166ab 44%,
            #5073b8 58%,
            #1098ad 72%,
            #07b39b 86%,
            #6dba82 100%);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 300;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


/* АДАПТАЦИЯ К ШИРИНЕ ЭКРАНА ТЕЛЕФОНА */
@media(max-width: $mobile_width) {
    body {
        font-size: 0.9em;
    }

    #root {
        grid-template-rows: 120px auto 200px;
    }
}