// Цвета сайта
$blue_color : #388ace;
$light_blue_color: #c0d5e5;
$dark_blue_color: #6ba9db;
$cyan_color: #4df8f0;
$light_cyan_color: #2eb9a7;
$white_color: #fff;
$purple_color: #a0f;
$red_color: #ed2626;


// Размеры экранов
$tablet_width: 1140px;
$mobile_width: 767px;